*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Convergence', sans-serif;
}

html {
    font-size: 16px;
    color: #1B1B1B;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    text-decoration: none;
    color: inherit;
    font: inherit;
    vertical-align: baseline;
    cursor: default;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-align: inherit;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
}

h1              { font-size: 2.3em;   margin: .28em 0 }
h2              { font-size: 1.6em; margin: .33em 0 }
h3              { font-size: 1.2em; margin: .4em 0 }
h4              { font-size: 1em;   margin: .5em 0 }
h5              { font-size: .85em; margin: .62em 0 }
h6              { font-size: .75em; margin: .8em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

a {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    background-color:lightpink;
    color: #1B1B1B;
	width: 100%;
	height: 2.5em;
	padding: 0.1em 0.2em;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.actions {
    display: inline-block;
	height: 100%;
}